*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/TODO.md
/AGENTS.md
/features/*/build/
/api/build/
/config/build/
/data/build/
/app/build/
